:root {
    --primary: #f2cb05;
    --secondary: #62bf04;
    --tertiary: #400101;
    --text-primary: #000;
    --text-secondary: #f2edd0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Botão wpp */
.wpp-link {
    position: fixed;
    width: 1.6em;
    height: 1.5em;
    bottom: 0.3em;
    right: 1em;
    background-color: #25d366;
    color: #fff;
    border-radius: 20em;
    text-align: center;
    font-size: 2em;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;

}

.wpp-link:hover{
    color: #fff;
}

.bi-whatsapp {
    margin-top: 1em;
}

/* Navbar */
.logonavbar {
    width: 100%;
    height: 3em;
}

/* Sessão de inicio */
#inicio {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url("../img/inicio-mylli.jpeg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1.fw-bold {
    color: var(--primary);
    font-family:  'Montserrat', Helvetica, sans-serif;
}

p {
    color: #fff;
}

.btn {
    background-color: var(--primary) !important;
    border: var(--tertiary) !important;
}

.a-pedido {
    text-decoration: none;
    color: #000 !important;
}

/* Sessão de produtos */
h1.fw-bolder {
    color: #000 !important;
}

p.p-produtos {
    color: #000 !important;
}

h1.produtos {
    color: var(--text-secondary);
    margin-bottom: 1em;
    margin: auto;
}

p.descrição-produtos {
    padding: 1em;
    text-align: initial;
}

section#produtos {
    background-color: var(--primary);
}

.card {
    background-color: var(--text-primary) !important;
    margin-top: 1em;
}

.produto {
    width: 100%;
    padding: 1.5em;
    border-radius: 2em;
    height: 25em;
}

